.App {
  text-align: center;
  /* height: 600px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* direction: rtl; */
  font-size: 12px;
}
.container_test {
  width: 1000px;
  direction: rtl;
}
.chart {
  width: 90%;

}

.color-white {
  color:white
}
.background-chart{
  background: rgb(14,18,39);
  background: linear-gradient(90deg, rgba(14,18,39,1) 0%, rgba(43,46,70,1) 80%, rgba(55,58,82,1) 100%);
}
.background-ul {
  background-color: #1A1E36;
}
.green-feel {
  color: #01A3A4;
}
.red-feel {
  color: #FC427B;

}
.color-amount {
  color: #626999;

}
.items-scroll {
  direction: rtl;
}
.items-scroll span {
  direction: ltr;
}

.Analysis_container {
  padding: 15px 10px;
}
  /* width */
.items-scroll::-webkit-scrollbar {
  width: 3px;
  position: absolute;
  left: 10px;
  top:10px;
}

/* Track */
.items-scroll::-webkit-scrollbar-track {
  height: 10px;
  background: #2C3049;
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 5px;
  
}

/* Handle */
.items-scroll::-webkit-scrollbar-thumb {
  background-color: #626999;
  border-radius: 5px;
  height: 10px;
}

.Container-header {
  /* background-color: red; */
  height: 50px;
}
.analyze-header {
  background-color: #626999;
  width: 17px;
  height: 17px;
  color: "#FC427B"
}

.testi_drag {
  width: 100px;
  height: 100px;
  background-color: red;
}
.testhala {
  direction: ltr;
}
.modal {
  display: inline;
  position: absolute;
  width: 40%;
  height: 40%;
  right:10%;
  bottom:10%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  opacity: 1;
  transition: all 0.5s ease-in-out;

}
.modal_invisible {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.dispaly_none {
  display: none;
}

.buttonWidgets {
  width: 100px;
  height: 50px;
  background-color: #01A3A4;
  color:white;
}

.dropElementNone {
  display: none;
}
/* .didtest {
  background-color: red;
} */
/* .testdiv {
  background-color: red;
  width: 400px;
  height: 500px;
} */