.App {
  text-align: center;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart {
  width: 90%;
  height: 400px;

}

.container_mine {
  background-color: red;
}
.background-chart{
  background-color:#0E1227 ;
}
.background-ul {
  background-color: #1A1E36;
}
.green-feel {
  color: "#01A3A4"
}
.red-feel {
  color: "#FC427B"
}